 Dear MuesliSwapTeam,
 
 Thank you for building such a wonderful DEX! 
 
The tx of the 50 ada transfer is: e6b88738cd1ab5d66b0d83fdf5fd2257534b51595ffffc0bdc14897a51166780

https://cardanoscan.io/transaction/e6b88738cd1ab5d66b0d83fdf5fd2257534b51595ffffc0bdc14897a51166780

We have the following info and links prepared for you:

Please consider some positive vibes from the MuesliSwapTeam about the CashewF token of EcoCashew.com on your social media channels :-)
 
 A website
 
 www.ecocashew.com
 
📝 A token description 

CashewF ticker [CSHWF] 
CashewF is a social security token. A cryptographically secured representation of a real cashew processing Factory project
to promote Fair Trade Cashews, Reuse of waste and 90% CO2 emission reduction by planting the factory near the Cashew Farmers. 
Supporting Global Sustainable Development Goals.

Whitepaper
https://ecocashew.com/assets/pdf/cashewf-whitepaper.pdf

📊 Tokenomics
https://ecocashew.com/assets/pdf/cashewf-tokenomics.pdf

✉️ Contact information (e.g., twitter, email)

Twitter https://twitter.com/ecocashew

Instagram https://instagram.com/ecocashew/

YouTube https://www.youtube.com/channel/UC2C94YX6ImJk9ZpjwNTMsrQ

Discord https://discord.gg/DpAbKAkk9d

Telegram https://t.me/EcoCashewF/

Facebook https://www.facebook.com/EcoCashewcom-107233495339226

Linkedin https://www.linkedin.com/company/ecocashew

Blogger https://ecocashew.blogspot.com

E-Mail hello@ecocashew.com
