 A website
 
 www.ecocashew.com
 
📝 A token description 

CashewF ticker [CSHWF] 
CashewF is a social security token. A cryptographically secured representation of a real cashew processing Factory project
to promote Fair Trade Cashews, Reuse of waste and 90% CO2 emission reduction by planting the factory near the Cashew Farmers. 
Supporting Global Sustainable Development Goals.

Whitepaper
https://ecocashew.com/assets/pdf/cashewf-whitepaper.pdf

📊 Tokenomics
https://ecocashew.com/assets/pdf/cashewf-tokenomics.pdf

✉️ Contact information (e.g., twitter, email)

Twitter https://twitter.com/ecocashew

Instagram https://instagram.com/ecocashew/

YouTube https://www.youtube.com/channel/UC2C94YX6ImJk9ZpjwNTMsrQ

Discord https://discord.gg/DpAbKAkk9d

Telegram https://t.me/EcoCashewF/

Facebook https://www.facebook.com/EcoCashewcom-107233495339226

Linkedin https://www.linkedin.com/company/ecocashew

Blogger https://ecocashew.blogspot.com

E-Mail hello@ecocashew.com
